@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");
 

*{

    padding: 0;
    margin: 0;
     box-sizing: border-box;
     list-style: none;
text-decoration: none;
font-family: sans-serif;
color: var(--Color_heading);
}

:root{
    --main_color: #ff8716;
    --P_Color:#7b7b7bl
      --bg_Color : #f3f3f3;
    --whaite_Color:#fff;
    --Color_heading : #121416;
    --border_Color : #e5e5e5d5;
    --Sale_Color : #E51a1a;
}

span{
    color: var(--main_color)
}

p{
    color: var(--P_Color)
}

h1,h2,h3,h4,h5,h6{
    color: var(--Color_heading);

    font-family: sans-serif;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1350;
    
}
img{
    width: 100%;
}

input ,select , button {
    border: none;
    outline: none;

}

/* 
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
} */

body{
    padding-top:220px;
}
.btn{
    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--main_color);
    color: white;
    gap: 10px;
   
    align-items: center;
}


/*  Start Header */

header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     z-index: 1000; 
box-shadow: 5px 8px 8px #d1d1d13b;

}


 /* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #222;
  color: white;
  z-index: 1000; 
  display: flex;
  align-items: center;
  padding: 0 20px;
}  */


header .top_header .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 15px 0;

}


header .top_header .logo{
    width: 180px;
}

header .top_header .search_box 
{
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}
header .top_header .search_box input {
    height: 55px;
    width: 440 px ;
    padding: 5px 15px 5px 10px;
    background: beige;
    outline: none;
    border: none;
}



header .top_header .search_box .select_box {
    position: relative;
background: #E51a1a;
}

header .top_header .search_box .select_box ::after {
 content: ' ';
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0;
width: 1px;
height: 50%;
background: #b9b9b9;

}


header .top_header .search_box .select_box select
{
height: 55px;
width: 190px ;
outline: none;
border: none;
background: beige;
font-size: 16px;
cursor: pointer;
padding-left: 10px;
padding-right: 10px;
}


header .top_header .search_box .select_box select option{
    font-family: 15px;

}

.btn{
    height: 55px;

    width: 60px;
    background: var(--main_color);
    font-size: 18px;
    cursor: pointer;
}

.btn i{
    color: var(--whaite_Color);
}
.header_icon {
display: flex;
gap: 30px;
}

.header_icon .icon {
    position:relative;
    cursor: pointer;
  top: 30px;
}
 

.header_icon .icon i 
{

    font-size: 24px;
} 

.header_icon .icon .count {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: var(--main_color);
    color: var(--whaite_Color);
    font-size: 11px;
    border-radius: 100%;
}


header .bottom_header {
    border-top:1px var(--border_Color) ;

}

header .bottom_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bottom_header nav{

display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
}
header .bottom_header .category_nav{
    width: 220;
    position: relative;
    height: 100%;
}

header .bottom_header .category_nav .category_btn{
    height: 100%;
    width: 100%;
   
    display: flex;
     justify-content: space-between;
    align-items: center;
    background: var(--main_color); 
    padding: 0 15px;
    cursor: pointer;

}

header .bottom_header .category_nav .category_nav_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #999;
    border-top:0 ;
    display: flex;
    flex-direction: column;
     clip-path: polygon(0 0,100% 0 ,100% 0,0 0); 
    transition: 0.3s ease-in-out;
   
}




header .bottom_header .category_nav .category_nav_list.active{
    clip-path:polygon(0 0,100% 0, 100% 100%, 0 100%);
}

header .bottom_header .category_nav .category_nav_list a{
padding: 14px 10px;
border-bottom: 1px solid var(--border_Color); 
font-size: 14px;

}
header .bottom_header .category_nav .category_nav_list a :last-child{
    border-bottom: 0;
}
header .bottom_header .category_nav .category_nav_list a:hover{

background: #d0d0d0;

}
header .bottom_header .category_nav .category_btn p{
    color: white;
    font-weight: 600;
    font-size: 15px;
}

header .bottom_header .category_nav .category_btn i{
color: white;
}
header .bottom_header .nav_links{
    display: flex;
    gap: 35px;
}
header .bottom_header .nav_links li a{
    color: var(--Color_heading);

}

header .bottom_header .nav_links li :hover {
    color: var(--main_color);
}
header .bottom_header .nav_links li.active a{
    color: var(--main_color);
}

/* Slider */

.slider{
    position: relative;
}

.slider .container {
    display: flex;
    justify-content: space-around;
}

.slider .banner_2{
    width: 23%;
    height: 100%;
    object-fit: cover;
}
.slider .banner_2 a{
    height: 100%;
    width: 100%;
}
.slider .container  .slid-swab{
    width: 75%;
    overflow: hidden;
    position: relative;
}
.swiper-wrapper
{
    height: auto !important;
}

.slider .container .slid-swab .swiper-pagination span{

background: #b9b9b9;
opacity: 1;
}
.swiper-pagination-bullet-active{
    background: var(--main_color) !important;
    width: 34% ip !important;
    height: 8px !important;
    border-radius: 30px !important;
}


.banner_4{
    margin: 40px 0;

}
.banner_4 .container {
    display: flex;
    justify-content: space-between;
}

.banner_4 .container .box {
    width: 24%;
background: url(../img/bg_banner3.jpg);
background-size: cover;
background-position: center;
border-radius: 5px;
display: flex;
align-items: center;
gap: 15px;
padding: 12px 10 px;
position: relative;
}
.banner_4 .container .box img{
    width: 100px;
transition: 0.3s;
}


.banner_4 .container .box :hover {
    scale: 1.05;
}


.banner_4 .container .box h5{
    font-size: 16px;
}
.banner_4 .container .box .sale{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0;
}
 .banner_4 .container .box .sale span{
    font-size: 25px;
    font-weight: bold;

}
.banner_4 .container .box h6{

    font-size: 14px;
    font-weight: bold;
}
/* .banner_4 .container .box .link_btn{
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
} 
 */




/* 
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

    /*

    /*Product Cart style */
  /* .mySwiper{
    overflow: hidden;
 } 
    .product{
background: #fff;
padding: 20px 20px;
box-shadow: 5px 5px 10px #94949428;
border: 1px solid var(--border_Color);
border-radius: 5px;
position: relative;
 width: 20%; 
    }

.product .sale_present {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background: #ed0505;
    color: var(--whaite_Color);
    padding: 4px 10px;
    font-size: 13px;

}
.product .img_product {

position: relative;
height: 180px;
padding: 0 20px;
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s;
}
.product:hover .img_product {

    scale: 1.1;
}
.product .name_Product{

    margin-bottom: 10px;
    color: var(--Color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

 .product .name_Product  a:hover{

text-decoration: underline;
}
.stars{
    margin-bottom: 10px;

}
.stars i{
color: var(--main_color);
font-size: 14px;

}
.price{
    display: flex;
    align-items: center;
    gap: 12px;

}

.price p{
color: var(--main_color); 
font-weight: bold;
font-size: 18px;

}

.price .old_price{
    color: var(--P_Color);
    font-size: 13px;
    font-weight: normal;
    text-decoration: line-through;

}

.product .icons{

display: flex;
gap: 10px;
margin-top: 15px;

}
.product .icons .icon_product{

width: 40px;
height: 40px;
border: 1px solid var(--border_Color);
cursor: pointer;
align-items: center;
justify-content: center;
transition: 0.3s;
}

.product .icons .icon_product:hover{
    background: var(--main_color);

}

.product .icons .icon_product i{
    font-size: 14px;
}

.product .icons .icon_product:hover i{
    color: white
}



.product .icons .icon_product .btn_add_cart{
    background: var(--main_color); 
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--main_color)
}
.product .icons .icon_product .btn_add_cart i{
    color: var(--whaite_Color); 

}
.product .icons .icon_product .btn_add_cart.active{
    color: var(--Color_heading);
    background: transparent;
    
}

.product .icons .icon_product .btn_add_cart.active i{
color: var(--main_color);

}

.product .icons .icon_product .btn_add_cart:hover{
    scale: 1.1;
    background: #f47600;
}  */

/**/


*/




/* product card style */ 
.mySwiper{
    overflow: hidden;
}
.product {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    position: relative;
}

.product .sale_present{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background: #ed0505;
    color: var(--white_color);
    padding: 4px 10px;
    font-size: 13px;
}
.product .img_product{
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product:hover .img_product{
    scale: 1.1;
}
.product .name_product{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product .name_product a:hover{
    text-decoration: underline;
}

.stars{
    margin-bottom: 10px;
}
.stars i{
    color: var(--main_color);
    font-size: 14px;
}

.price{
    display: flex;
    align-items: center;
    gap: 12px;
}
.price p{
    color: var(--main_color);
    font-weight: bold;
    font-size: 18px;
}
.price .old_price{
    color: var(--p_color);
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}

.product .icons{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.product .icons .icon_product{
    width: 40px;
    height: 40px;
    border: 1px solid var(--border_color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product .icons .icon_product:hover{
    background: var(--main_color);
}
.product .icons .icon_product i{
    font-size: 14px;
}
.product .icons .icon_product:hover i{
    color: var(--white_color);
}
.product .icons  .btn_add_cart{
    background: var(--main_color);
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white_color);
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--main_color);
}
.product .icons  .btn_add_cart i {
    color: var(--white_color);
    pointer-events: none;
}
.product .icons  .btn_add_cart.active{
    color: var(--color_heading);
    background: transparent;
    pointer-events: none;
}
.product .icons  .btn_add_cart.active i{
    color: var(--main_color);
}
.product .icons  .btn_add_cart:Hover{
    scale: 1.05;
    background: #f47600;
}

/* Start Slide*/

.slide{

margin-bottom: 70px;
}



.top_slide{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main_color)
}
.top_slide h2{
    position: relative;
    text-transform: uppercase;
    background: var(--main_color);
    color: var(--whaite_Color);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.top_slide h2::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
z-index: 9;

border-left: 20px solid transparent;
background: var(--whaite_Color);
left: 0;
border-bottom: 20px solid #e26e02;

}

.top_slide h2 i{
    color: var(--whaite_Color)
}

.slide .container{
    position: relative;
}

.slide .container .mySwiper{
    padding: 10px 0;
}
.slide .container .mySwiper .btn_swip{
position: absolute;
top: 30px;
right: 0px;
background: var(--border_color);
color: var(--Color_heading);
font-weight: bold;
border-radius: 5px;
height: 35px;
width: 35px;
border: 1px solid var(--border_Color);

}
.slide .container .mySwiper .btn_swip::after{
    font-size: 12px;

}
.slide .container .mySwiper .btn_swip.swiper-button-prev{

    left: 100%;
    
}

